<h1>Create a short url</h1>
<form action="/links" method="POST" role="form">
	<legend>Enter a url to shorten</legend>

	<div class="form-group">
		<input id="q" type="text" class="form-control" placeholder="http://" name="q">
	</div>

	<button type="submit" class="btn btn-primary">Create</button>
</form>